body{
    background-color: #f5f5f5;
}

#page{
    height: 100%;
    width: 100%;
}

#titleContainer{
    height: 15%;
    width: 100%;
    overflow: hidden;
}

#title{
    width: 100%;
    height: 100%;
    text-align: left;
    font-size: 20px;
    font-family: system-ui;
    color: black;
    float: right;
}

#content{
    height: 85%;
    width: 100%;
}

#image-container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.parrafo {
              text-align: justify;
              line-height: 1.5;
              margin: 20px 0px;
              width: 88%;
              margin-left: 70px;

            }

#descripcionLaboratorios {
    text-align: justify;
    line-height: 1.5;
    margin: 20px 0px;
    width: 88%;
    margin-left: 70px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;



}