
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
@keyframes slideInTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 30px;
  padding: 10px;
  background-color: #f4f4f4;
  color: #333;
}

main {
  display: grid;
  grid-template-columns: 100%; 
  gap: 20px;
  padding: 30px;
  max-width: auto;
  margin: auto;
}


.navbar-horizontal {
 
 /* background: linear-gradient(90deg, #003049, #1d3557);*/
  background: linear-gradient(100deg, #7ac0e6, #305992);
  padding: 15px 25px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  animation: slideInTop 1s ease;
  }

.navbar-horizontal ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
  
}

.navbar-horizontal-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}


.navbar-horizontal-list li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 14px;
  background-color: transparent;
  border-radius: 6px;
  transition: background 0.3s;
  font-weight: bold;
}

.navbar-horizontal-list li a:hover {
  background-color: #a900f7;
  transform: scale(1.05);
}


  /*
.contenedor-navbar-vertical ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 10px;
  
}


.contenedor-navbar-vertical-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 10px;
}


.navbar-horizontal-list li a {
  color: #fff;
  text-decoration: none;
  padding: 8px 14px;
  background-color: transparent;
  border-radius: 6px;
  transition: background 0.3s;
  font-weight: bold;
}

.navbar-horizontal-list li a:hover {
  background-color: #a900f7;
  transform: scale(1.05);
}
*/



@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
  nav, .foto-perfil, .info-personal  {
    width: 100%;
  }
}






/*
#page{
    height: 100%;
    width: 100%;
}


#right-content{
    height: 100%;
    width: 60%;
    float: left;
}

#content{
    height: 85%;
    width: 100%;
    overflow: hidden;
}

#left-content{
    height: 100%;
    width: 20%;
    float: left;
}


#logo{
    width: 20%;
    height: 100%;
    float: left;
}
#main-logo{
    width: 100%;
    height: 100%;
}

#title{
    width: 80%;
    height: 100%;
    text-align: center;
    font-size: 27px;
    font-family: system-ui;
    color: #35506d;
    float: right;
}

#left-content{
    height: 100%;
    width: 20%;
    float: left;
}

#right-content{
    height: 100%;
    width: 60%;
    float: left;
}

#blank-space{
    height: 100%;
    width: 10%;
    float: left;
}
iframe{
    width: 100%;
    height: 80%;
}

#titleContainer{
    height: 30%;
    width: 100%;
    overflow: hidden;
    
}






.fila {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
  padding: 20px;
}
.columna {
  flex: 1 1 300px;
  min-width: 280px;
}
hr {
  border: none;
  height: 1.5px;
  background: linear-gradient(to right, #003049, #fcbf49, #003049);
  margin: 30px 0;
}

.parrafo {
              text-align: justify;
              line-height: 1.5;
              margin: 20px 0;
              width: 95%;
              margin-left: 30px;
            }

.profile-image {
              display: flex;
              margin: 10px;
              border-radius: 50%;
              align-items: center;
              
            }

    .title {
              color: #2c3e50;
              text-align: center;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }

.h2 {
              color: #2c3e50;
              text-align: left;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              margin-left: 30px;
            }

            .h3 {
              color: #2c3e50;
              text-align: left;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              margin-left: 1px;
            }

            ul {
              color: #2c3e50;
              text-align: left;
              font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
              font-size: 16px;
              margin-left: 70px;
            }

            .li {
              margin-bottom: 10px;
              margin-left: 30px;
            }
   table {
              width: auto;
              border-collapse: collapse;
              margin: 5px 0;
              background-color: rgb(208, 216, 224);
            }
      

            */